Django==1.8.12
dj-database-url==0.2.2
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==18.0
psycopg2==2.5.2
pystache==0.5.3
static==1.0.2
wsgiref==0.1.2
youtube-dl==2016.04.13
django-uuidfield==0.5.0
django-crispy-forms==1.4.0
django-extensions==1.6.1
